*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    padding: 1rem;
    background-image: radial-gradient(rgb(57, 5, 105), rgb(1,1,1));
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#box1{
    background-color: aquamarine;
    grid-row: 1/3;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#box2{
    background-color: rgb(0, 217, 255);
    grid-row: 1/1;
    grid-column: 3/6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#box3{
    background-color: rgb(255, 0, 212);
    grid-row: 3/6;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#box4{
    background-color: rgb(204, 94, 94);
    grid-row: 2/6;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#box5{
    background-color: rgb(44, 47, 68);
    grid-row: 2/3;
    grid-column: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#box6{
    background-color: rgb(149, 155, 65);
    grid-row: 3/6;
    grid-column: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}