*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
    padding: 2rem;
    height: 100vh;
}

header{
    background-color: rgb(43, 159, 226);
    grid-column: 1/8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.main-content{
    background-color: rgb(43, 226, 43);
    grid-column: 2/5;
    grid-row: 2/5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.sidebar{
    background-color: rgb(144, 43, 226);
    grid-column: 5/7;
    grid-row: 2/5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.twin{
    background-color: rgb(226, 168, 43);
    grid-column: 2/4;
    grid-row: 5/7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.twin2{
    background-color: rgb(226, 168, 43);
    grid-column: 4/7;
    grid-row: 5/7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

footer{
    background-color: rgb(43, 159, 226);
    grid-column: 1/8;
    grid-row: 7/7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

